.top-flex-container-landing {
    margin: 1%;
    margin-bottom: 0%;
    padding: 1% 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: center;
    background-color: #ec6553;
    align-items: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 2.0em;
    text-shadow: 2px 1px black;
    font-weight: 600;
}

.filter-input {
    font-family: 'Lusitana', serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.plant-flex-container {
    display: flex;
    width: 500px;
    height: 600px;
    margin: 2%;
    flex-direction: column;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    background-color: #FAB3A9;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 12px;
}

.image-container{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px;
}

.plant-container {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    border: 1px solid rgb(153, 153, 153);
    border-bottom: none;
    border-top: none;
}

.plant-container h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.9em;
    font-weight: 800;
    letter-spacing: 0.01em;
    justify-self: center;
    align-self: center;
    color: black;
    text-decoration: underline;
}

.plant-container p {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1em;
    letter-spacing: 0.01em;
    text-shadow: 1px 1px rgb(189, 189, 189);
}

.plant-container span {
    font-weight: 700;
    font-size: 1.1em;

}

.list-button {
    font-size: 1.3rem;
    font-weight: 550;
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Libre Baskerville', serif;
    border: 1px solid black;
    background-color: #463239;
    border-radius: 5px;
    color: white;
}

.filter-input {
    height: 30px;
    font-size: 0.7em;
    margin: 0px;
}

@media screen and (max-width: 559px) {

    .top-flex-container {
        padding: 2% 12%;
    }    
}

@media screen and (max-width: 400px) {

    .plant-flex-container {
        margin-bottom: 1%;
    }    
}
