.header-custom {
    display: flex;
    flex-direction: row;
    background-color: #7FB285;
    align-items: center;
    padding: 1%;
}

.header-brand {
    color: white;
    font-family: 'Permanent Marker', cursive;
}

.links {
    display: flex;
    flex-direction: row;
    margin: 0% 3%;
    justify-content: center;
}

.link-box {
    margin: 0% 1%;
}

.storage {
    display: flex;
    flex-direction: row;
    margin: 0% 3%;
    justify-content: center;
}

.header-button {
    font-size: 1.25em;
    letter-spacing: 0.1em;
    height: 60px;
    width: 150px;
    border-radius: 4px;
    background-color: #463239;
    border: 1px solid black;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

.header-button-link {
    font-size: 1.0em;
    letter-spacing: 0.1em;
    height: 40px;
    width: 70px;
    border-radius: 4px;
    background-color: #463239;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

@media screen and (max-width: 559px) {

    .links, .storage {
        margin-bottom: 1%;
        margin-top: 1%;
        justify-content: center;
    }

    .header-custom {
        justify-content: center;
    }

    .header-button {
        height: 40px;
    }
    
}