.header-custom {
    background-color: #7FB285;
    align-items: center;
    padding: 1%;
}

.header-brand {
    color: white;
    font-family: 'Permanent Marker', cursive;
}

.link-box {
    margin-left: 1%;
    margin-right: 1%;
}

.header-button {
    font-size: 1.25em;
    letter-spacing: 0.1em;
    width: 150px;
    border-radius: 4px;
    background-color: #463239;
    border: 2px solid black;
    box-shadow: 1px 1px black;
    color: white;
    font-family: 'Abril Fatface', cursive;
}