.header-button {
    font-size: 1.0rem;
    font-weight: 550;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}

.header-button-add {
    font-size: 1.5rem;
    font-weight: 550;
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Libre Baskerville', serif;
    border: 1px solid black;
    margin: 0 auto;
}

.list-button {
    font-size: 1.5rem;
    font-weight: 550;
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Libre Baskerville', serif;
    border: 2px solid black;  
    margin: 2px;
}

label {
    color: #463239;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 1px white;
}

.input {
    font-family: 'Lusitana', serif;
    width: 80%;
    height: 40px;
    border-radius: 2px;
    border-color: rgb(143, 143, 143);
}

@media screen and (max-width: 559px) {

    .header-button-add {
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
}